body {
  background: #F9EFDB;
}

#orderTable {
  margin: 100px auto;
  text-align: center;
  font-size: 1.5em;
  background: #EBD9B4;  
}

#orderTable th, #orderTable td {
  width: 300px;
  height: 100px;
}
